[submodule "includes/SparkFun_ICM-20948_ArduinoLibrary"]
	path = includes/SparkFun_ICM-20948_ArduinoLibrary
	url = https://github.com/sparkfun/SparkFun_ICM-20948_ArduinoLibrary
[submodule "includes/ICM-20948"]
	path = includes/ICM-20948
	url = https://github.com/drcpattison/ICM-20948
[submodule "external/oneTBB"]
	path = external/oneTBB
	url = https://github.com/oneapi-src/oneTBB.git
[submodule "external/gcem"]
	path = external/gcem
	url = https://github.com/kthohr/gcem.git
